title= title
link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/helvetica-neue.css')
script(src='/js/lib/jquery-1.7.1.min.js')
script(src='/js/lib/modernizr.js')