@import "mixins/css3"
@import "mixins/radius"
@import "nib"

/* Reset
Based on http //meyerweb.com/eric/thoughts/2008/01/15/resetting-again/
Removed elements not supported in HTML5
-----------------------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strike, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td 
  margin 0
  padding 0
  border 0
  outline 0
  font-size 100%
  vertical-align baseline
  
/* Trigger the new block level elements in to the correct content flow
-----------------------------------------------------------------------------*/
article, aside, dialog, figure, 
footer, header, hgroup, menu, 
nav, section  
  display block 
      
/* Setup variables
-----------------------------------------------------------------------------*/
//text sizes
extra-large= 4em
large= 1.4em
med= 1.0em
small= 0.7em

//basic colors
black= #000
white= #fff
dark-gray= #1e1e1e
light-gray= #E8E8E8
gray= #A0A0A0
red= #C44D58

//font names
helvetica= 'Helvetica'

/* Typography
-----------------------------------------------------------------------------*/
@import "partials/typography"

/* Set up document
-----------------------------------------------------------------------------*/
body
  font 62.5%/1.5  helvetica
  text-align center
  background dark-gray

.clear-all
  clear both